###########################
# ignore generated binaries
# but not the data folder
###########################

/bin/*
!/bin/data/

#########
# general
#########

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log

########################
# IDE files which should
# be ignored
########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

##################
# operating system
##################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings

    Status API Training Shop Blog About Pricing 

    © 2016 GitHub, Inc. Terms Privacy Security Contact Help 


example2/.vs/example2/v15/Browse.VC.db
example2/.vs/example2/v15/Browse.VC.opendb
example2/.vs/example2/v15/Solution.VC.db
example2/.vs/example2/v15/Solution.VC.db-shm
example2/.vs/example2/v15/Solution.VC.db-wal
example2/bin/example2_debug.exe
example2/bin/example2_debug.exp
example2/bin/example2_debug.lib
example2/bin/fmodex.dll
example2/bin/fmodexL.dll
example2/bin/FreeImage.dll
example2/example2.sln
example2/example2.vcxproj
example2/example2.vcxproj.filters
example2/example2.vcxproj.user
example2/icon.rc
example2/bin/data/mixerSettings.xml
example2/bin/data/ofxSceneTEST/scene.xml
